google-api-python-client
google-cloud-bigquery
langchain
langchain-experimental
langchain-google-genai
matplotlib
openpyxl
pandas
plotly
psycopg2-binary
pytest
pytest-mock
python-dotenv
snowflake-connector-python
streamlit
streamlit-elements
streamlit-ydata-profiling
tabulate
ydata-profiling
